.app-header {
    background-color: #3b57ab;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-weight: bold;
    padding-top: 6px;
    text-align: center;
    width: 100%;
}

.app-header__logo {
    margin: auto;
}

.app-header__title {
    display: inline;
    font-weight: bold;
}

.app-header__button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    float: right;
    font-size: 2em;
    margin: auto 4px auto auto;
}